extends layout

block content
	.container
		.opening-quote
			.tlt-quote
				ul.texts
					li(data-in-effect="fadeIn" data-out-effect="fadeOut" data-out-shuffle="true") Good and evil are entertwined like a rope.
					li(data-out-effect="fadeOut" data-out-shuffle="true")
		.title-background.col-md-12.col-lg-10.col-lg-offset-1
			h1.title#light-title Pandoran
			h1.title-reverse#dark-title Pandoran
			#options.options
				.new-game.title-btn
					button.btn.btn-default#new-game-btn New Game
				.continue.title-btn
					button.btn.btn-default#continue-btn Continue
			#player-options.options
			#sides.sides 
				.good-side Decendents of Hope
				.good-info-box
					.good-info Stuff
				.evil-side Vigilantes of Humanity
				.evil-info-box
					.evil-info Forget perfection and utopia. You see the value in the human struggle. To you sadness and pain are a necessary evil, without which human's would never truly understand the fleeting beauty of life.
				.choose Choose Your Side 
		
		.modal.fade#name-good(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="name" aria-hidden="true").col-lg-6.col-lg-offset-3
			.modal-content.name-modal.intro-modals
				h4 Please enter your name:
				form(id="name", method="post", action="/newGame")
					input(type="text" name="name" placeholder="Name" required).name-input
					br
					input(type="hidden" name="alignment" value="good")
					input(type="submit" value="Continue").btn.btn-default
					button.btn.btn-default(data-dismiss="modal") Cancel

		.modal.fade#name-evil(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="name" aria-hidden="true").col-lg-6.col-lg-offset-3
			.modal-content.name-modal.intro-modals
				h4 Please enter your name:
				form(id="name", method="post", action="/newGame")
					input(type="text" name="name" placeholder="Name" required).name-input
					br
					input(type="hidden" name="alignment" value="evil")
					input(type="submit" value="Continue").btn.btn-default
					button.btn.btn-default(data-dismiss="modal") Cancel




block scripts
	script.
		var playerData = !{JSON.stringify(player)}
	script(src="/title-screen.js")
	
