doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Pandoran
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="apple-touch-fullscreen" content="yes")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/Images/sparkle.png")
		link(rel="apple-touch-startup-image" href="/Images/girl_sketch.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)")
		//- Twitter Bootstrap
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
		//- Google fonts
		link(href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Rock+Salt|Kelly+Slab' rel='stylesheet' type='text/css')
		//- Animate (for textillate)
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css")
		link(rel="stylesheet" type="text/css" href="/styles/main.css")
		//- Font awesome
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		
		

	body
		block content
		
		//- script((function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone"))
		//- JQuery
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		//- Underscore
		script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
		//- Twitter Bootstrap
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
		//- Socket.io
		script(type="text/javascript", src="//cdn.socket.io/socket.io-1.2.0.js")
		//- Textillate
		script(src="/textillate.js")
		//- Google maps api
		script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
		//- Lettering
		script(src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js")
		//- GSAP max
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.1/TweenMax.min.js")
		//- Unistroke recognizer
		script(src="/scripts/Dollar2.js")
		script(src="/scripts/Gesture.js")
		block scripts