doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Pandoran
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
		//- Twitter Bootstrap
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
		//- Google fonts
		link(href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Rock+Salt|Kelly+Slab' rel='stylesheet' type='text/css')
		//- Animate (for textillate)
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css")
		link(rel="stylesheet" type="text/css" href="/styles/main.css")
		
		

	body
		block content

		//- JQuery
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		//- Underscore
		script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
		//- Twitter Bootstrap
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
		//- Socket.io
		script(type="text/javascript", src="//cdn.socket.io/socket.io-1.2.0.js")
		//- Textillate
		script(src="/textillate.js")
		//- Google maps api
		script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
		//- Lettering
		script(src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js")
		//- GSAP max
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.1/TweenMax.min.js")
		//- Unistroke recognizer
		script(src="/scripts/Dollar2.js")
		script(src="/scripts/Gesture.js")
		block scripts