doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Pandoran
		meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
		link(rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
		link(href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css")
		link(rel="stylesheet" type="text/css" href="main.css")

	body
		block content

		//- script(src="world.js")
		//- script(src="main.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="textillate.js")
		script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js")
		block scripts