extends layout

block content
	//- .map-loading
	//- 	.loading-content
	//- 		img(src="/Images/fallingelf.gif")
	//- 		p Loading...
	#map-canvas
	.container
		audio#background(src="/Sounds/call_to_adventure.mp3")
		.good-container
			.percent
		.evil-container
			.percent
		.menu-container
			a.btn.btn-default(href="/menu") Menu
		.sense-container
			audio#sonar-ping(src="/Sounds/sonar.wav")
			button.sense.btn.btn-danger.btn-block Locate
	
		.modal.fade#monster-info(tabindex="-1" role="dialog" aria-labelledby="myModalLabl" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-header
					.modal-body
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Cancel
						button.btn.btn-danger#fight(type="button" data-dismiss="modal") Fight!

		.fight-txt
			audio#fight-clip(src="/Sounds/fight.mp3")
			.tlt.fight-style
				ul.texts
					li(data-out-effect="fadeOutRightBig" data-in-reverse="true" data-out-reverse="true") Fight!
					li(data-in-effect="fadeInLeftBig")

		audio#miss(src="/Sounds/miss.wav")
		audio#hit(src="/Sounds/hit.wav")
		audio#poof(src="/Sounds/poof.wav")
		audio#battle-music(src="/Sounds/mistake_the_getaway.mp3")

		.modal.fade#battle(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-content.arena
				.arena-back.col-lg-10.col-md-12
					//- img.backdrop(src="/Images/edo_street.gif")
					.monster.col-md-3.col-md-offset-1.noselect
						.symbol
						.monster-img
						.monster-health
							.health-nums
								p
							.health-container
								.health
					.pet.col-md-2.col-md-offset-6
						.pet-img
						.pet-health
							.health-nums
								p
							.health-container
								.health
					.controls
						button.btn.btn-default#attack Attack
						button.btn.btn-default#purify Purify
						button.btn.btn-default#run(data-dismiss="modal") Run
				//- .symbol


block scripts
	//- script.
	//- 	var monsterData = !{JSON.stringify(monster)}
	script.
		var playerData = !{JSON.stringify(player)}
	script(src="/world.js")
	script(src="/monsters.js")
	script(src="/scripts/mapoverlay.js")
	script(src="/scripts/main.js")
