extends layout

block content
	//- .map-loading
	//- 	.loading-content
	//- 		img(src="/Images/fallingelf.gif")
	//- 		p Loading...
	#map-canvas
	.container
		audio#background(src="/Sounds/call_to_adventure.mp3")
		.good
			.good-nums.align-nums
			.good-container
				.percent#good-percent
		.evil
			.evil-nums.align-nums
			.evil-container
				.percent#evil-percent
		.menu-container
			a.btn.btn-default(href="/menu") Menu
		.sense-container
			audio#sonar-ping(src="/Sounds/sonar.wav")
			button.sense.btn.btn-danger.btn-block Locate
	
		.modal.fade#home.home.col-lg-6.col-lg-offset-3(tabindex="-1" role="dialog" aria-labelledby="home" aria-hidden="true")
			.modal-content.home.intro-modals
				h4 Would you like to use your current location as the home base?
				p.bg-danger Once you set your home base you must return to this location whenever you wish to heal.
				.home-response
					button.yes.btn.btn-default(data-dismiss="modal") Yes
					//- button.no.btn.btn-default(data-dismiss="modal") No

		.modal.fade#instructions.col-lg-8.col-lg-offset-2(tabindex="-1" role="dialog" aria-labelledby="instructions" aria-hidden="true")
			.modal-content.intro-modals
				.modal-header
					h4 Welcome to Pandoran
				.modal-body.instructions
					p.bg-info This game is still in early development stages so I appreciate your patience.
					h5 Basic Instructions
					.instruction-list
						ul 
							li Use the "Locate" button to find monsters in your immediate area (It will only show monsters within a certain distance, and these will change as you move)
							li Normally the map is locked on the player's location, but since there are only currently monsters in Boulder city you may use the arrow keys to move around and the mousewheel to zoom
							li Clicking on a monster icon will bring up info about that monster and allow you the option to fight it
							li The bars on the right and left represent what side is currently ahead. Everytime your side kills a monster your bar will go up, and a monster will spawn on the enemy's side
					h5 Fighting
					.instruction-list
						ul 
							li Currently only the "Attack" and "Run" buttons function
							li When the monster's health hits 0 a symbol will appear. Draw the correct symbol with your cursor to finish the monster off (Hint: Most symbols must be drawn from top to bottom, except for the star which starts on the bottom left point. Generally start where the line is thinnest and draw towards where it's thickest).
							li Enjoy!
				.modal-footer
					button.btn.btn-default(data-dismiss="modal") Got It!

		.modal.fade#monster-info(tabindex="-1" role="dialog" aria-labelledby="monster-info" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-header
					.modal-body
					.modal-footer
						button.btn.btn-default(type="button" data-dismiss="modal") Cancel
						button.btn.btn-danger#fight(type="button" data-dismiss="modal") Fight!

		.fight-txt
			audio#fight-clip(src="/Sounds/fight.mp3")
			.tlt.fight-style
				ul.texts
					li(data-out-effect="fadeOutRightBig" data-in-reverse="true" data-out-reverse="true") Fight!
					li(data-in-effect="fadeInLeftBig")

		audio#miss(src="/Sounds/miss.wav")
		audio#hit(src="/Sounds/hit.wav")
		audio#poof(src="/Sounds/poof.wav")
		audio#battle-music(src="/Sounds/mistake_the_getaway.mp3")

		.modal.fade#battle(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="battle" aria-hidden="true")
			.modal-content.arena
				.arena-img
				.arena-style
				.arena-back.col-lg-10.col-md-12
					//- img.backdrop(src="/Images/edo_street.gif")
					.monster.col-lg-3.col-md-4.col-sm-offset-1.col-sm-5.noselect
						.symbol
						.monster-img
						.monster-health
							.health-nums
								p
							.health-container
								.health
					.pet.col-lg-3.col-md-2.col-xs-offset-6.col-sm-5
						.pet-img
						.pet-health
							.health-nums
								p
							.health-container
								.health
					.controls
						button.btn.btn-default#attack Attack
						button.btn.btn-default#purify Defend
						button.btn.btn-default#run(data-dismiss="modal") Run
				
		.victory-screen#victory
			.victory-info.col-md-8.col-sm-offset-2
				.header
					i.fa.fa-star.star1
					i.fa.fa-star.fa-lg.star2
					i.fa.fa-star.fa-2x.star3
					h1 Victory
					i.fa.fa-star.fa-2x.star4
					i.fa.fa-star.fa-lg.star5
					i.fa.fa-star.star6
				.victory-data
				.victory-dismiss
					button.btn.btn-default#victory-btn Close


block scripts
	//- script.
	//- 	var monsterData = !{JSON.stringify(monster)}
	script.
		var playerData = !{JSON.stringify(player)}
	script(src="/world.js")
	script(src="/monsters.js")
	script(src="/scripts/mapoverlay.js")
	script(src="/scripts/main.js")
