extends layout

block content
	.container
		.menu-info
			.row.spacer
			.row.col-lg-offset-1
				.player-info.info-block.col-lg-3 
					p Stats
				.pet-info.info-block.col-lg-3 
					p Pet
				.monster-list.info-block.col-lg-3 
					p Kakoi List
			.row.col-lg-offset-1
				.items.info-block.col-lg-3 
					p Items
				.allies.info-block.col-lg-3 
					p Allies
				a.return-to-map.info-block.col-lg-3 
					p Close