extends layout

block content
	.container
		div.tlt-quote
			ul.texts
				li(data-out-effect="fadeOut" data-out-shuffle="true") Good and evil are entertwined like a rope.
				li(data-in-effect="fadeIn")

block scripts
	script(src="/title-screen.js")