.fight-txt {
  position: fixed;
  background: rgba(0,0,0,0.9);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  color: white;
}

.fight-style {
  margin-top: 25%;
  margin-left: 35%;
  font-size: 8em;
  font-family: 'Rock Salt', cursive;
}

.texts {
  list-style: none;
}

.arena {
  max-width: 80%;
  margin: auto;
  margin-top: 10%;
  height: 73%;
  background: url("/Images/edo_street.gif");
  background-size: cover;
  position: relative;
  
}

.arena-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.arena-img img {
  height: 100%;
}

.arena-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: rgba(0,0,0,0.5);*/
  border: 2px solid white;
}

.arena-back {
  width: 100%;
  /*position: relative;*/
  height: 100%;
}

.backdrop {
  position: absolute;
  width: 100%;
  margin-top: -10px;
}

.char {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.pet {
  position: absolute;
  width: 50%;
  bottom: 0;
}

.pet img {
  width: 100%;
}

.monster {
  position: absolute;
  left: 5%;
  bottom: 4%;
}

.monster img {
  width: 100%;
}

/*.selection {
  position: absolute;
  margin-top: -38px;
  margin-left: 18px;
  z-index: 1;
}*/

/*.monster-list {
  list-style: none;
}

.hit {
  position: absolute;
  width: 30%;
}*/

.health-container {
  border: 1px solid white;
  border-radius: 5px;
}

.health {
  background-color: #c90000;
  width: 100%;
  height: 100%;
}

.monster-health {
  position: absolute;
  top: 0;
  left: -7%;
  color: white;
}

.health-container {
  width: 8em;
  height: 1em;
}

.miss-text {
  position: absolute;
  color: white;
  top: 30%;
  left: 80%;
  font-family: "Shadows into Light", cursive;
}

.pet-health {
  right: 10%;
  position: absolute;
  top: 15%;
  color: white;
}

.controls {
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
  right: 5%;
  font-family: "shadows into light", cursive;
  font-size: 20px;
}

.controls button {
  background: #4da1a5;
  border: 3px solid black;
  border-radius: 5px;
}


.symbol {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.symbol img {
  width: 100%;
  pointer-events: none;
}

.white-flash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
 html, body, #map-canvas {
				height: 100%;
				margin: 0px;
				padding: 0px

		}

.sense-container {
	width: 20%;
	position: absolute;
	top: 90%;
	left: 40%;
}

@-webkit-keyframes glowing {
	0% { background-color: #d43f3a; -webkit-box-shadow: 0 0 3px #d43f3a; }
	50% { background-color: #ff8482; -webkit-box-shadow: 0 0 10px #ff8482; }
	100% { background-color: #d43f3a; -webkit-box-shadow: 0 0 3px #d43f3a; }
}

.glow {
	-webkit-animation: glowing 1500ms infinite;
}

.map-loading {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: white;
}

.menu-container {
	position: absolute;
	top: 3%;
	right: 3%;
}

#batte {
	margin: auto;
}

.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.good-container {
	width: 3%;
	height: 72%;
	border: 2px solid white;
	border-radius: 15px;
	position: absolute;
	left: 4%;
	bottom: 5%;
	/*position: relative;*/
}

.evil-container {
	width: 3%;
	height: 72%;
	border: 2px solid white;
	border-radius: 15px;
	position: absolute;
	right: 4%;
	bottom: 5%;
	/*position: relative;*/
}

.percent {
	position: absolute;
	width: 100%;
	bottom: 0;
	border-radius: 15px;
}

.good-container .percent {
	background: white;
}

.evil-container .percent {
	background: black;
}

.align-nums {
	font-family: "Rock Salt";
	position: absolute;
	font-size: 23px;
	top: 15%
}

.good-nums {
	left: 3%;
	color: white;
}

.evil-nums {
	right: 3%;
	color: white;
	/*text-shadow: 0px 2px 6px white;*/
}


@media screen and (max-width: 1205px) {
/*	#battle {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	.modal-content {
		height: 100%;
		border-radius: 0;
	}*/
}
.menu-info {
  height: 40em;
  display: block;
  position: relative;
  margin: auto;
}

.menu-info::after {
  content: "";
  background: url("/Images/girl_sketch.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.info-block {
	display: inline-block;
	float: left;
	height: 13em;
	width: 14em;
	border: 3px solid;
	border-radius: 10px;
	margin: 4%;
	text-align: center;
	background: rgba(255,255,255,0.5);
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.info-block p {
	margin-top: 40%;
	font-family: fantasy;
	font-size: 2em;
}

.spacer {
	height: 2em;
}
span {
  color: #a8a3a3;
}

.monster-mini-img {
  float: right;
  margin-top: -37%;
  border: 1px solid black;
  padding: 3px;
}

.modal-header {
  font-family: 'Rock Salt', cursive;
  padding-bottom: 5%;
}

.descrip p {
  margin-left: 1em;
  font-size: 12px;
  margin-top: 1em;
}

.monster-thumb {
  width: 30%;
  float: right;
}

.monster-thumb img {
  width: 50%;
}
.title {
  font-family: "Kelly Slab";
  position: absolute;
  right: 20%;
  font-size: 5em;
  color: white;
  border-left: 5px solid;
}

.title-reverse {
  font-family: "Kelly Slab";
  position: absolute;
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  /*unicode-bidi:bidi-override;*/
  /*direction:rtl;*/
  left: 17%;
  font-size: 5em;
  color: black;
  border-left: 5px solid;
}


.title-background {
  background-image: url("/Images/tempcover.png");
  background-size: cover;
  border: 3px solid white;
  text-align: center;
  margin-top: 10em;
  height: 32em;
  text-align: center;
}

.title-btn {
	margin: 10px;
}

.opening-quote {
  position: fixed;
  background: rgba(0,0,0,1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: white;
}

.tlt-quote {
  margin-top: 25%;
  margin-left: 35%;
  font-size: 1em;
  font-family: 'Rock Salt', cursive;
}

.title-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.options {
  position: absolute;
  bottom: 0;
  right: 44%;
}

.btn-default{
  color: white;
  background-color: black;
}

#back-btn2 {
  position: absolute;
  bottom: 4%;
  right: 48%;
}

.sides {
  font-family: "Kelly Slab";
  font-size: 2em;
  position: relative;
  width: 100%;
  display: none;
  color: white;
  height: 100%;
}

.good-side {
  right: 10%;
  position: absolute;
  text-shadow: 2px 2px black;
  top: 5%;
  height: 93%;
}

.evil-side {
  left: 10%;
  position: absolute;
  top: 5%;
  text-shadow: 2px 2px black;
  height: 93%;
}

.choose {
  font-size: 40px;
  position: absolute;
  top: 45%;
  left: 32%;
  border: 1px solid white;
  padding: 0px 10px;
}
.victory-screen {
	position: absolute;
	top: 0;	
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	display: none;
}

.victory-info {
	top: 25%;
	height: 26em;
	background: black;
	border: 1px solid white;
	text-align: center;
	color: white;
	font-family: "Kelly Slab";
	position: absolute;
}

.victory-info .header {
	border-bottom: 3px solid white;
	position: relative;
}

.victory-data {
	margin-top: 6%;
}

i {
	position: absolute;
	top: 20%;
}

.star1 {
	left: 29%;
	top: 34%;
}

.star2 {
	left: 33%;
	top: 34%;
}

.star3 {
	left: 37%;
}

.star4 {
	right: 37%;
}

.star5 {
	right: 33%;
	top: 34%;
}

.star6 {
	right: 29%;
	top: 34%;
}

.items {
	border: 1px solid white;
	padding: 10px 39px;
	margin: 3%;
	display: inline-block;
}

.items ul {
	list-style: none;
	padding: 0;
}
